*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading{
    text-align: center;
    margin-top: 25px;
}

.selectors{
    margin-top: 15px;
    font-size: 20px;
}

p{
    font-size: 25px;
    margin-top: 10px;
    background-color: lavenderblush;
}

.type-of-selectors{
    margin-top: 25px;
    font-size: 20px;
}

.list-out-selectors{
    background-color: lavenderblush;
    margin-left: 40px;
}

.Element-Selectors{
    margin-top: 15px;
}